.inputContainer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  height: 64px;
  background-color: var(--background-element);
  border-radius: 40px;
  padding: 0 30px;
}

.input {
  outline: none;
  border: none;
  background: transparent;

  color: var(--text-inactive-color);
}

.input:-webkit-autofill {
  -webkit-text-fill-color: rgba(250, 250, 250, 68) !important;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #26262c inset !important;
}
