@use "styles/variables.scss" as *;

.constructor {
    @include outline;
    width: 50%;
    padding-top: 61px;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 10px;
        max-height: 656px;
        overflow-y: auto;
        list-style-type: none;
        padding-inline: 0;
    }
    &__item {
        display: flex;
        align-items: center;
    }
}

.total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__price {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-right: 10px;
        span {
            font-family: "Iceland";
            font-size: 48px;
        }
    }
}
.button_width {
    width: 215px;
}
