@use "styles/variables.scss" as *;

.ingradient {
    width: 540px;
    margin: 0 auto;
    @include outline;
    img {
        margin: 0 auto;
        @include outline;
    }
    &__text {
        text-align: center;
        font-size: 24px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        @include outline;
    }

    &_item {
        color: var(--text-inactive-color);
        @include outline;
    }
    &__header {
        text-align: center;
    }
    &__value {
        text-align: center;
        font-size: 28px;
        @include fontIceland;
    }
    &__button {
        display: block;
        margin: 10px auto;
        border-radius: var(--common-border-radius);
        padding-left: 30px;
        padding-right: 30px;
        height: 64px;
        margin-top: 20px;
        background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
        outline: none;
        border: none;
        color: var(--text-primary-color);
        &:hover {
            box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
                0px 0px 8px 8px rgba(51, 51, 255, 0.25);
            filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
        }
    }
}
